<nav class="navbar">
  <img src = "logoKaspi.png" alt="Kaspi Logo">
  <a href="/">Главная</a>
  <a href="/products">Продукты</a>
  <a (click)="selectedCategory = null" href="#">Категории</a>
</nav>

<div *ngIf="!selectedCategory">
  <h2>Categories</h2>
  <ul>
    <li *ngFor="let category of categories">
      <button (click)="selectCategory(category)">{{ category.name }}</button>
    </li>
  </ul>
</div>

<div *ngIf="selectedCategory">
  <h2>{{ selectedCategory.name }} Products</h2>
  <ul>
    <li *ngFor="let product of selectedCategory.products">
      {{ product.name }} - ${{ product.price }}
      <button (click)="product.likes++">Like ({{ product.likes }})</button>
    </li>
  </ul>
  <button (click)="selectedCategory = null">Back to Categories</button>
</div>
<router-outlet></router-outlet>
