.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .navbar .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }