<!-- product-page.component.html -->
<div class="cards">
  <div *ngFor="let product of products" class="card">
    <h3>{{ product.name }}</h3>
    <p>Rating: {{ product.rating }}</p>
    <p>Description: {{ product.description || 'No description available' }}</p>
    
    <img [src]="product.imgURL" alt="{{ product.name }}" class="product-image" />

    <div class="gallery">
      <img *ngFor="let img of product.gallery" 
           [src]="img" 
           alt="{{ product.name }}" 
           class="gallery-image" 
           (click)="product.imgURL = img" />
    </div>
    <button (click)="share(product.link)">Share</button>
    <a *ngIf="product.url" 
       [href]="product.url" 
       target="_blank" 
       class="telegram-link">
      Open in Telegram
    </a>
  </div>
</div>